body {
  margin: 0;
  padding: 0;
  background-color: rgb(237, 222, 206);
}

nav {
  background-color: bisque;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
}

.nav-a {
  flex: 1;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  font-size: 40px;
  text-decoration: none;
}

li{
  font-size: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto; 
  padding: 0 10%; 
}

.available-books, .not-available-books {
  width: 45%;
  padding: 50px; 
  text-align: center;
  margin-top: 35px;
}

.available-books h1, .not-available-books h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
}
.available-books ul, .not-available-books ul {
  list-style-type: none;

}

